PMS_HOST=127.0.0.1
PMS_PORT=7811
PMS_DATA_DIR=./data
PMS_METADATA_DB_PATH=./data/metadata.sqlite3
PMS_TRIVIUM_DB_PATH=./data/memory.tdb
PMS_WORKER_BASE_URL=http://127.0.0.1:7812
PMS_EMBEDDING_TIMEOUT_MS=1800
PMS_WORKER_TIMEOUT_MS=10000
PMS_RECALL_CACHE_TTL_SECS=30
PMS_EMBEDDING_CACHE_TTL_SECS=600
PMS_TASK_POLL_INTERVAL_MS=1500
PMS_SEARCH_TOP_K=12
PMS_SEARCH_EXPAND_DEPTH=2
PMS_SEARCH_MIN_SCORE=0.03
